# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\AN\Desktop\OnlineCourse-ThemDbcacKieu\OnlineCourse-72de0fb773e5f00ec9051373323f1c04a025300f\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
